.flashcard-box .word {
    animation:begin 0.5s;
}
@keyframes begin{
   from{
       transform:translateY(100%);
   }
   to{
       transform:translateY(0);
   }
}
@keyframes return_middle{
   to{
       transform:translate(0px,0px) rotate(0deg);
   }
}